<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout.html}">
    <div layout:fragment="contents">

        <div class="container-fluid px-4">
            <h1 align="center" class="mt-4">상품 관리</h1>
            <div align="right">
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="입력해주세요(회원ID,상품명)" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                        <button class="btn btn-primary" id="searchWord" type="button" onclick="getMyPage()"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="card mb-4"></div>
            <div class="card mb-4">
                <div class="card-header">
                    <div align="left">
                        전체 상품 수 : <span th:text="|${allProductCnt} 개|"></span>
                    </div>
                    <!--<div align="right">
                        <label>
                            <select id="productStatus">
                                <option>전체</option>
                                <option>판매중</option>
                                <option>판매완료</option>
                            </select>
                        </label>
                    </div>-->
                </div>

                <div class="card-body">
                    <table>
                        <colgroup>
                            <col width="2%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                        </colgroup>
                        <thead>
                        <tr align="center">
                            <th>번호</th>
                            <th>이미지</th>
                            <th>상품명</th>
                            <th>판매자Id</th>
                            <th>가격</th>
                            <th>카테고리</th>
                            <th>판매상태</th>
                            <th>조회수</th>
                            <th>등록일</th>
                            <th>상품 수정</th>
                        </tr>
                        </thead>
                        <tbody id="productList" th:each="productDTO : ${productList}">
                        <tr align="center">
                            <td>[[${startProductIdx + productDTOStat.count}]]</td>
                            <td>
                                    <img th:src="@{/img/setThumbnail(imgName=${productDTO.firstImgUUID})}" alt="이미지"
                                         width="100%"
                                         height="100%"/>
                                </a>
                            </td>
                            <td> <a th:href="@{/product/detail(productId=${productDTO.productId},adminId=${session.adminId})}">[[${productDTO.title}]]</a></td>
                            <td>[[${productDTO.sellerId}]]</td>
                            <td>[[${productDTO.price}]]</td>
                            <td>[[${productDTO.category}]]</td>
                            <td>[[${productDTO.status}]]</td>
                            <td>[[${productDTO.readCount}]]회</td>
                            <td th:text="${#temporals.format(productDTO.createdAt,'yyyy-MM-dd HH:mm')}"></td>
                            <td>
                                <div class="list-table__features">
                                       <!-- <button class="deleteBtn" th:data-product="${productDTO.productId}">상품 수정</button>-->
                                    <button>
                                <a th:href="@{/product/update(productId=${productDTO.productId})}">수정하기</a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="display: table; margin-left: auto; margin-right: auto">
            <ul th:align="center">
                  <span>
                    <a th:if="${currentPageNumber > 1}" th:href="|javascript:getMyPage(${currentPageNumber-1})|">◀</a>
                    <span th:unless="${currentPageNumber > 1}"><a>◀</a></span>
                  </span>
                 <span th:each="page : ${#numbers.sequence(startPage, endPage)}">
                     <a th:if="${page != currentPageNumber}" th:href="|javascript:getMyPage(${page})|"
                        th:text="${page}" ></a>
                 </span>
                <span>
                    <strong th:if="${page == currentPageNumber}" th:text="${page}"></strong>
                </span>
                <span>
                    <a th:if="${currentPageNumber < allPageCnt}" th:href="|javascript:getMyPage(${currentPageNumber+1})|">▶</a>
                    <a th:unless="${currentPageNumber < allPageCnt}">▶</a>
                </span>
            </ul>
        </div>

        <script>

            function getMyPage(currentPageNumber){
                let url = "/admin/productList"
                    url += "?searchWord="+ $("#searchWord").val();
                if(currentPageNumber != null){
                    url += "&currentPageNumber="+currentPageNumber;
                }
                location.href = url;
            }

            $("#searchWord").keypress(function (event) {
                if (event.keyCode == 13) {
                    getMyProductList();
                }
            });

        </script>
    </div>
</html>
