<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.usedallea.product.dao.ProductDAO">
    <insert id="createProduct" parameterType="ProductDTO">
        INSERT INTO PRODUCT(
            SELLER_ID,
            IMG_ID,
            TITLE,
            CATEGORY,
            QUALITY_CONDITION,
            PRICE,
            DESCRIPTION,
            STATUS
        )
        VALUES(
            #{sellerId},
            #{imgId},
            #{title},
            #{category},
            #{qualityCondition},
            #{price},
            #{description},
            #{status}
        )
    </insert>

    <select id="getAllProductList" resultType="ProductDTO">
        SELECT
            PRODUCT_ID,
            SELLER_ID,
            PRICE,
            DESCRIPTION,
            QUALITY_CONDITION,
            CATEGORY,
            CREATED_AT,
            UPDATED_AT,
            READ_COUNT,
            STATUS,
            TITLE,
            IMG_ID
        FROM
                PRODUCT
        ORDER BY
                CREATED_AT DESC
    </select>

    <select id="getProductId" parameterType="long" resultType="long">
        SELECT
                PRODUCT_ID
        FROM
                PRODUCT
        WHERE
                IMG_ID = #{imgId}
    </select>

    <select id="getProductDetail"  parameterType="long" resultType="ProductDTO">
        SELECT
                PRODUCT_ID,
                SELLER_ID,
                IMG_ID,
                PRICE,
                DESCRIPTION,
                QUALITY_CONDITION,
                CATEGORY,
                READ_COUNT,
                STATUS,
                TITLE,
                CREATED_AT
        FROM
                PRODUCT
        WHERE
                PRODUCT_ID = #{productId}
    </select>
    <update id="updateReadCnt" parameterType="long">
        UPDATE
                PRODUCT
        SET
                READ_COUNT = READ_COUNT + 1
        WHERE
                PRODUCT_ID = #{productId}
    </update>

    <select id="getImgUUIDList" parameterType="long" resultType="String">
        SELECT
               I.IMG_UUID AS IMG_UUID
        FROM
                PRODUCT P
           JOIN IMG I
            ON  P.IMG_ID = I.IMG_ID
        WHERE
                PRODUCT_ID = #{productId}
    </select>

    <update id="updateProduct" parameterType="ProductDTO">
        UPDATE
                PRODUCT
        SET
                TITLE = #{title},
                CATEGORY = #{category},
                QUALITY_CONDITION = #{qualityCondition},
                PRICE = #{price},
                DESCRIPTION = #{description},
                UPDATED_AT = NOW()
        WHERE
                PRODUCT_ID = #{productId}
    </update>

    <update id="updateValidateProduct" parameterType="long">
      UPDATE
            PRODUCT
      SET
            VALIDATED_YN = 'n'
      WHERE
            PRODUCT_ID = #{productId}
    </update>

    <select id="getAllProductCnt" parameterType="hashmap" resultType="int">
        SELECT
            COUNT(*)
        FROM
            PRODUCT
        <where>
            <if test="searchWord != ''">
                CATEGORY LIKE CONCAT('%', #{searchWord}, '%') OR
                TITLE LIKE CONCAT('%', #{searchWord}, '%') OR
                DESCRIPTION LIKE CONCAT('%', #{searchWord}, '%')
                AND VALIDATED_YN = 'y'
            </if>
            <if test="searchWord == ''">
                 VALIDATED_YN = 'y'
            </if>
        </where>
    </select>

    <select id="getProductList" parameterType="hashmap" resultType="ProductDTO">
        <choose>
            <when test="searchWord == ''">
                SELECT
                    PRODUCT_ID,
                    SELLER_ID,
                    PRICE,
                    DESCRIPTION,
                    QUALITY_CONDITION,
                    CREATED_AT,
                    UPDATED_AT,
                    READ_COUNT,
                    STATUS,
                    TITLE,
                    IMG_ID
                FROM
                    PRODUCT
                WHERE
                    VALIDATED_YN = 'y'
                ORDER BY
                    CREATED_AT DESC
                LIMIT
                    #{startProductIdx}, #{onePageProductCnt}
            </when>
            <otherwise>
                SELECT
                        PRODUCT_ID,
                        SELLER_ID,
                        PRICE,
                        DESCRIPTION,
                        QUALITY_CONDITION,
                        CREATED_AT,
                        UPDATED_AT,
                        READ_COUNT,
                        STATUS,
                        TITLE,
                        IMG_ID
                FROM
                        PRODUCT
               <where>
                   <if test="searchWord != ''">
                       CATEGORY LIKE CONCAT('%', #{searchWord}, '%') OR
                       TITLE LIKE CONCAT('%', #{searchWord}, '%') OR
                       DESCRIPTION LIKE CONCAT('%', #{searchWord}, '%')
                       AND VALIDATED_YN = 'y'
                   </if>
                   AND VALIDATED_YN = 'y'
               </where>
                ORDER BY
                        CREATED_AT DESC
                LIMIT
                        #{startProductIdx}, #{onePageProductCnt}
            </otherwise>
        </choose>
    </select>

    <select id="getAllProductCntBySeller" parameterType="hashmap" resultType="int">
       <choose>
           <when test="searchWord == ''">
               SELECT
                    COUNT(*)
               FROM
                   PRODUCT
               WHERE
                   SELLER_ID = #{sellerId}
               AND VALIDATED_YN = 'y'
           </when>
           <otherwise>
               SELECT
                   COUNT(*)
               FROM
                   PRODUCT
               WHERE
                    SELLER_ID = #{sellerId}
               AND VALIDATED_YN = 'y'
               AND(
               CATEGORY LIKE CONCAT('%', #{searchWord}, '%') OR
               TITLE LIKE CONCAT('%', #{searchWord}, '%') OR
               DESCRIPTION LIKE CONCAT('%', #{searchWord}, '%')
               )
           </otherwise>
       </choose>
    </select>

    <select id="getProductListBySeller" parameterType="hashmap" resultType="ProductDTO">
        <choose>
            <when test="searchWord == ''">
                SELECT
                    PRODUCT_ID,
                    SELLER_ID,
                    PRICE,
                    UPDATED_AT,
                    READ_COUNT,
                    STATUS,
                    TITLE,
                    IMG_ID
                FROM
                    PRODUCT
                WHERE
                    SELLER_ID = #{sellerId}
                AND VALIDATED_YN = 'y'
                ORDER BY
                    CREATED_AT DESC
                LIMIT
                    #{startProductIdx}, #{onePageProductCnt}
            </when>
            <otherwise>
                SELECT
                    PRODUCT_ID,
                    SELLER_ID,
                    PRICE,
                    UPDATED_AT,
                    READ_COUNT,
                    STATUS,
                    TITLE,
                    IMG_ID
                FROM
                    PRODUCT
                <where>
                    SELLER_ID = #{sellerId}
                    AND VALIDATED_YN = 'y'
                    AND (
                    CATEGORY LIKE CONCAT('%', #{searchWord}, '%') OR
                    TITLE LIKE CONCAT('%', #{searchWord}, '%') OR
                    DESCRIPTION LIKE CONCAT('%', #{searchWord}, '%')
                    )
                </where>
                ORDER BY
                    CREATED_AT DESC
                LIMIT
                    #{startProductIdx}, #{onePageProductCnt}
            </otherwise>
        </choose>
    </select>

    <update id="updateProductStatus" parameterType="ProductDTO">
        UPDATE
                PRODUCT
        SET
                STATUS = #{status}
        WHERE
                PRODUCT_ID = #{productId}
    </update>


    <select id="getProductIdBySeller" parameterType="String" resultType="ProductDTO">
        SELECT
                PRODUCT_ID
        FROM
                PRODUCT
        WHERE
                SELLER_ID = #{sellerId}
    </select>

    <select id="getProductStatus" parameterType="long" resultType="ProductStatus">
        SELECT
                STATUS
        FROM
                PRODUCT
        WHERE
                PRODUCT_ID = #{productId}
    </select>

    <select id="getProductCntByUser" parameterType="String" resultType="int">
        SELECT
                COUNT(*)
        FROM
                PRODUCT
        WHERE
                SELLER_ID = #{sellerId}
    </select>

    <select id="getAllProductCntByAdmin" parameterType="hashMap" resultType="int">
        SELECT
                COUNT(*)
        FROM
                PRODUCT
        <where>
            <if test="searchWord != ''">
                SELLER_ID LIKE CONCAT('%', #{searchWord}, '%') OR
                TITLE LIKE CONCAT('%', #{searchWord}, '%')
            </if>
        </where>
    </select>

    <select id="getProductListByAdmin" parameterType="hashMap" resultType="ProductDTO">
        <choose>
            <when test="searchWord.equals('')">
                SELECT
                    PRODUCT_ID,
                    SELLER_ID,
                    PRICE,
                    CATEGORY,
                    QUALITY_CONDITION,
                    CREATED_AT,
                    READ_COUNT,
                    STATUS,
                    TITLE,
                    IMG_ID
                FROM
                    PRODUCT
                ORDER BY
                    CREATED_AT DESC
                LIMIT
                    #{startProductIdx}, #{onePageViewCnt}
            </when>
            <otherwise>
                SELECT
                    PRODUCT_ID,
                    SELLER_ID,
                    PRICE,
                    CATEGORY,
                    QUALITY_CONDITION,
                    CREATED_AT,
                    READ_COUNT,
                    STATUS,
                    TITLE,
                    IMG_ID
                FROM
                    PRODUCT
                <where>
                    SELLER_ID LIKE CONCAT('%', #{searchWord}, '%') OR
                    TITLE LIKE CONCAT('%', #{searchWord}, '%')
                </where>
                ORDER BY
                    CREATED_AT DESC
                LIMIT
                    #{startProductIdx}, #{onePageViewCnt}
            </otherwise>
        </choose>
    </select>

    <delete id="removeProduct" parameterType="long">
        DELETE FROM
                   PRODUCT
        WHERE
             PRODUCT_ID = #{productId}
    </delete>



</mapper>