<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.usedallea.img.domain.repository">

	<insert id="save" parameterType="Img">
		INSERT INTO IMG(
			IMG_ID,
			IMG_SEQ,
			IMG_UUID,
			ORIGINAL_NAME
		)
		VALUES(
			  #{imgId},
			  #{imgSeq},
			  #{imgUUID},
			  #{originalName}
			  )
	</insert>

	<select id="findMaxImgId" resultType="Img">
		SELECT
		    IMG_ID,
		    IMG_SEQ,
		    IMG_UUID,
			ORIGINAL_NAME
		FROM
		    IMG
		WHERE IMG_ID = (SELECT COALESCE(MAX(IMG_ID),0)+1 AS IMG_ID
		                FROM IMG)
	</select>


</mapper>