<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.usedallea.img.domain.repository.ImgRepository">

	<insert id="save" parameterType="Img">
		INSERT INTO IMG(
			IMG_ID,
			IMG_SEQ,
			IMG_UUID,
			ORIGINAL_NAME
		)
		VALUES(
			  #{imgId},
			  #{imgSeq},
			  #{imgUUID},
			  #{originalName}
			  )
	</insert>

	<select id="findById" parameterType="long" resultType="Img">
			SELECT
				IMG_ID,
				IMG_SEQ,
				IMG_UUID,
				ORIGINAL_NAME
			FROM
			    IMG
			WHERE
			    IMG_ID = #{imgId}
	</select>

	<select id="findTopByOrderByID"  resultType="Img">
		SELECT
			IMG_ID,
			IMG_SEQ,
			IMG_UUID,
			ORIGINAL_NAME
		FROM
			IMG
		ORDER BY
		    IMG_ID DESC,
		    IMG_SEQ DESC
		LIMIT 1
	</select>

</mapper>