<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.usedallea.member.v2.domain.repository.UserRepository">

	<insert id="register" parameterType="User" >
		INSERT INTO USER(
			USER_ID,
			PASSWORD,
			NICKNAME,
			NAME,
			PHONE_NUMBER,
			SMSSTS_YN,
			EMAIL,
			EMAILSTS_YN,
			ZIP_CODE,
			ROAD_ADDRESS,
			JIBUN_ADDRESS,
			NAMUJI_ADDRESS,
			PERSONALINFO_YN
		)
		VALUES(
			#{userId},
			#{password},
			#{nickname},
			#{name},
			#{phoneNumber},
			#{smsstsYn},
			#{email},
			#{emailstsYn},
			#{zipCode},
			#{roadAddress},
			#{jibunAddress},
			#{namujiAddress},
			#{personalinfoYn}
		)
	</insert>

<!--	<select id="isExistById" parameterType="String" resultType="boolean">
		SELECT
				CASE
				    WHEN COUNT(*) > 0 THEN 1
					ELSE 0
				END AS result
		FROM
				USER
		WHERE
				USER_ID = #{userId}
	</select>-->

	<select id="findById" parameterType="String" resultType="User">
		SELECT
				USER_ID,
				NICKNAME,
				PASSWORD,
				NAME,
				ACTIVE_YN,
				EMAIL,
				EMAILSTS_YN,
				PHONE_NUMBER,
				SMSSTS_YN,
				ROAD_ADDRESS,
				JIBUN_ADDRESS,
				NAMUJI_ADDRESS,
				ZIP_CODE,
				PERSONALINFO_YN
		FROM
		    	USER
		WHERE
		    	USER_ID = #{userId}
	</select>

	<update id="update" parameterType="User">
		UPDATE
		    	USER
		SET
		    	NICKNAME = #{nickname},
				PHONE_NUMBER = #{phoneNumber},
				SMSSTS_YN = #{smsStsYn},
				EMAIL = #{email},
				EMAILSTS_YN = #{emailStsYn},
				ZIP_CODE = #{zipCode},
				ROAD_ADDRESS = #{roadAddress},
				JIBUN_ADDRESS = #{jibunAddress},
				NAMUJI_ADDRESS = #{namujiAddress},
				ACTIVE_YN = #{activeYn},
				UPDATED_YN = #{updatedAt}
		WHERE
			USER_ID = #{userId}
	</update>

	<select id="getAllUserCnt" resultType="int">
		SELECT
		    	COUNT(*)
		FROM
		    	USER
	</select>

	<select id="getMemberList" parameterType="hashMap" resultType="MemberDTO">
		SELECT
		    	USER_ID,
		    	NAME,
		    	NICKNAME,
		    	EMAIL,
				PHONE_NUMBER,
				CREATED_AT,
				UPDATED_AT,
				ACTIVE_YN
		FROM
		    	USER
		ORDER BY
		     CREATED_AT ASC
		LIMIT
				#{startViewIdx},#{onePageViewCnt}

	</select>

	<delete id="remove" parameterType="User">
		DELETE FROM
		           	USER
		WHERE
		    	USER_ID = #{userId}

	</delete>


</mapper>
