<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.usedallea.zzim.domain.repository.ZzimRepository">

    <insert id="save" parameterType="Zzim">
        INSERT INTO ZZIM(
            PRODUCT_ID,
            USER_ID,
            CREATED_AT
        )
        VALUES(
            #{productId},
            #{userId},
            NOW()
        )
    </insert>

    <delete id="delete" parameterType="Zzim">
        DELETE FROM
            ZZIM
        WHERE
            PRODUCT_ID = #{productId} AND USER_ID = #{userId}
    </delete>

    <select id="findByProductIdAndUserId" parameterType="Zzim" resultType="Zzim">
        SELECT
            ZZIM_ID,
            PRODUCT_ID,
            USER_ID,
            CREATED_AT
        FROM
            ZZIM
        WHERE
            PRODUCT_ID = #{productId} AND USER_ID = #{userId}
    </select>

    <select id="countByProductId" parameterType="long" resultType="int">
        SELECT
            COUNT(*) AS ZZIM_COUNT
        FROM
            ZZIM
        WHERE
            PRODUCT_ID = #{productId}
    </select>

</mapper>